@{
    ViewData["Title"] = "Janusz Jusiak";
}

<h1>CV</h1>

<p class="paragraf">
    Urodził się 26 marca 1954 r. w Krasnymstawie. Absolwent fizyki w Uniwersytecie Marii Curie-Skłodowskiej (studia magisterskie ukończone w 1978); w latach 1976-1978 studiował także filozofię w Międzyuczelnianym Instytucie Filozofii i Socjologii UMCS. Od 1978 pracownik naukowo-dydaktyczny MIFiS UMCS; obecnie: Wydział Filozofii i Socjologii UMCS, Zakład Ontologii i Teorii Poznania. Stopień doktora uzyskał w 1988 (<i>Filozofia nauki i teoria poznania Alfreda Northa Whiteheada</i>), stopień doktora habilitowanego w 1998 (<i>Metafizyka a poznanie bezpośrednie. Tradycyjny i współczesny kształt zagadnienia</i>), prof. nadzw. od 2001; tytuł naukowy profesora w 2015.
</p>
<p class="paragraf">
    <b>Zajmuje się trzema dziedzinami problemowymi:</b>
</p>
<ol class="orderedList">
    <li>
        analizą kulturowych i filozoficznych kontekstów poznania naukowego,
    </li>
    <li>
        teorią wiedzy o muzyce,
    </li>
    <li>
        światopoglądowym podłożem umysłowości zachodniej.
    </li>
</ol>
<p class="paragraf">
    Problemy pojawiające się w tych obszarach badawczych rozważa w optyce zagadnień usytuowanych na pograniczu metafizyki, metafilozofii, historii sztuki oraz refleksji nad źródłami postaw i działań mitotwórczych.
</p>
<p class="paragraf">
    <b>Zajęcia dydaktyczne:</b> Ontologia, propedeutyka filozofii, epistemologia, kultura i sztuka Europy, podstawy wiedzy o muzyce, współczesny ewolucjonizm i filozofia procesu, problemy współczesnej filozofii, ontologia współczesna. Prowadzi seminaria licencjackie (<i>Koncepcje wiedzy o muzyce</i>), magisterskie (<i>Powiązania ontologii z nauką, sztuką i wiarą</i>) i doktoranckie (<i>Światopoglądowe podłoże filozofii i nauki</i>).
</p>
<p class="paragraf">
    Był promotorem czterech ukończonych rozpraw doktorskich. Wypromował trzech doktorów. Recenzował jedną rozprawę habilitacyjną i pięć prac doktorskich; przygotował sześć recenzji wydawniczych książek i prac zbiorowych.
</p>
<p class="paragraf">
    <b>Rezultaty działalności naukowej</b>: Autor ponad osiemdziesięciu publikacji naukowych, w tym trzech książek i redaktor jednej pracy zbiorowej. Publikował m. in. w &quot;Studiach Filozoficznych&quot;, &quot;Kwartalniku Filozoficznym&quot;, &quot;Edukacji Filozoficznej&quot;, &quot;Przeglądzie Religioznawczym&quot;, &quot;Ethos&quot;, &quot;Colloquia Communia&quot;, &quot;Diametros&quot;, &quot;Akcencie&quot;, &quot;Powszechnej Encyklopedii Filozofii&quot;, &quot;Annales UMCS&quot;, &quot;Lubelskich Odczytach Filozoficznych&quot;. Tłumaczył teksty K. R. Poppera, P. Feyerabenda, A. N. Whiteheada, K. Meinzera. Za rozprawę habilitacyjną <i>Metafizyka a poznanie bezpośrednie</i> otrzymał w 2000 roku Nagrodę Indywidualną Ministra Edukacji Narodowej.
</p>
<p class="paragraf">
    Jest członkiem Rady Programowej serii wydawniczych "Studia z Filozofii Polskiej" i "Studia Whiteheadiana" a także recenzentem współpracującym z czasopismami "Ethos", "Roczniki Kulturoznawcze", "The Polish Journal of the Arts and Culture. New Series" oraz z Fundacją na rzecz promocji nauki i rozwoju TYGIEL.
</p>
