
@{
    ViewData["Title"] = "Kontakt";
}

<h2>Kontakt</h2>

<div>
    <p>
        Zakład Ontologii i Teorii Poznania <br />
        Wydział Filozofii i Socjologii UMCS <br />
        pl. Marii Curie Skłodowskiej 4 <br />
        20-031 Lublin
    </p>
</div>

<p><strong>Konsultacje: piątki, g. 15:00 - 16:30</strong> </p> 

<div>p. 338, budynek "starej" Humanistyki</div>
<div>tel. 081-537-51-97; e-mail: janusz.jusiak@gmail.com</div>

